<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="mainFooter(footer)">
		<footer id="contact" class="footer bg-black p-top-80">
			<div class="container">
				<div class="row">
					<div class="widget_area">
						<div class="col-md-3">
							<div class="widget_item widget_about">
								<h5 class="text-white">Company</h5>
								<ul class="m-top-20">
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 회사개요</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 연혁</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 조직도</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 인증현황</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 오시는길</a></li>
								</ul>
							</div><!-- End off widget item -->
						</div><!-- End off col-md-3 -->

						<div class="col-md-3">
							<div class="widget_item widget_latest sm-m-top-50">
								<h5 class="text-white">Product Outline</h5>
								<ul class="m-top-20">
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> SYSTEM Hardware</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Roller</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Hinge</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Casement Lock</a></li>
									<li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 기타부품</a></li>
								</ul>
							</div><!-- End off widget item -->
						</div><!-- End off col-md-3 -->

						<div class="col-md-6">
							<div class="widget_item widget_service sm-m-top-50">
								<div class="widget_brand">
									<a href="" class="text-uppercase">Your Logo</a>
									<p>대표자 : <ins></ins></p>
									<p>주소 : <ins></ins></p>
									<p>사업자 등록번호 : <ins></ins></p>
									<p>대표전화 : <ins></ins></p>
									<p>이메일 : <ins></ins></p>
									<p>팩스 : <ins></ins></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-40">
				<div class="col-md-12">
					<p class="wow fadeInRight" data-wow-duration="1s">
						Copyright&copy; <ins>회사명!</ins> Made with by&nbsp;
						<a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>&nbsp;
						<ins>2022</ins>
						.&nbsp;All Rights Reserved
					</p>
				</div>
			</div>
		</footer>
	</th:block>
	<script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.js"></script>
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<script src="assets/css/slick/slick.js"></script>
	<script src="assets/css/slick/slick.min.js"></script>
	<script src="assets/js/jquery.collapse.js"></script>
	<script src="assets/js/bootsnav.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/main.js"></script>
</html>