<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="slider">
		<!--Home Sections-->
		<section id="home" class="home bg-black fix">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="main_home text-left">
						<div class="col-md-12">
							<div class="hello_slid">
								<div class="slid_item">
									<div class="home_text ">
										<h2 class="text-white"><strong>품질제일</strong>·<strong>신용</strong>·<strong>신뢰</strong>를</h2>
										<h1 class="text-white">최고 가치로 추구하는 기업</h1>
										<h3 class="text-white">(주)윈테크 코리아는 신뢰를 받는 제품 서비스를 제공합니다.</h3>
									</div>
								</div><!-- End off slid item -->
								<div class="slid_item">
									<div class="home_text ">
										<h2 class="text-white"><strong>품질제일</strong>·<strong>신용</strong>·<strong>신뢰</strong>를</h2>
										<h1 class="text-white">최고 가치로 추구하는 기업</h1>
										<h3 class="text-white">(주)윈테크 코리아는 신뢰를 받는 제품 서비스를 제공합니다.</h3>
									</div>
								</div><!-- End off slid item -->
								<div class="slid_item">
									<div class="home_text ">
										<h2 class="text-white"><strong>품질제일</strong>·<strong>신용</strong>·<strong>신뢰</strong>를</h2>
										<h1 class="text-white">최고 가치로 추구하는 기업</h1>
										<h3 class="text-white">(주)윈테크 코리아는 신뢰를 받는 제품 서비스를 제공합니다.</h3>
									</div>
								</div><!-- End off slid item -->
							</div>
						</div>
					</div>
				</div><!--End off row-->
			</div><!--End off container -->
		</section> <!--End off Home Sections-->
	</th:block>
</html>
