<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="/layout/Header.html"/>
<!--    <th:block th:replace="/layout/Header.html::mainHeader(header = ${header})"/>-->
    <body data-spy="scroll" data-target=".navbar-collapse">
        <th:block th:replace="/layout/Slider.html"/>
<!--        <th:block th:replace="/layout/Slider.html::slider(slider = ${slider})"/>-->

            <th:block th:replace="/layout/Footer.html"/>
<!--            <th:block th:replace="/layout/Footer.html::mainFooter(footer = ${footer})"/>-->
        </div>
    </body>
</html>
