<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="/layout/Header.html"/>
    <body>
        <section id="tab_menu" class="bg-grey roomy-40 fix" style="padding-top: 60px;">
            <div class="container">
                <div class="main_product p-top-100">
                    <div class="head_title text-center fix">
                        <h2 class="text-uppercase" th:text="${menuInfo.menuName}"></h2>
                        <h5 th:if="${'' != menuInfo.menuTitle || null != menuInfo.menuTitle}" th:text="${menuInfo.menuTitle}"></h5>
                    </div>
                </div>
                <ul id="portfolio_menu" class="menu" style="text-align: center;">
                    <li th:each="tab : ${tabList}" style="display: inline-block;">
                        <button onclick="moveTab(this)" data-th-attr="item1=${tab.menuId}, item2=${tab.tabId}" data-filter="*" class="my_btn btn_active" style="margin-left: 10px; margin-right: 10px;">
                            <th:block th:text="${tab.tabName}"></th:block>
                        </button>
                    </li>
                </ul>
            </div>
        </section>

        <section id="tab_gallery" class="roomy-60 fix">
            <div class="container">
                <div class="row" th:each="row : ${tabData.content}">
                    <div class="col-sm-3" th:each="image : ${row}">
                        <div class="port_item xs-m-top-30">
                            <div class="port_img">
                                <img class="image-list" th:src="@{/image/download/{imageId} (imageId=${image.id})}" th:alt="${image.name}" onclick="showImage(this)"/>
                            </div>
                            <div class="port_overlay text-center m-top-10">
                                <h5><th:block th:text="${image.name}"></th:block></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End off container -->

            <div class="container text-center fix">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" item="Pre">
                            <a class="page-link" aria-label="Previous" onclick="movePrev()" th:value="${((tabData.pageable.offset / 10) + 1)}">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <th:block th:if="${tabData.totalPages == 1 || tabData.totalPages == 0}">
                            <li class="page-item active">
                                <a class="page-link" style="cursor: pointer;" th:value="1" th:text="1" onclick="movePage(this)"></a>
                            </li>
                        </th:block>
                        <th:block th:unless="${tabData.totalPages == 1 || tabData.totalPages == 0}">
                            <th:block th:each="num : ${#numbers.sequence(((((tabData.pageable.offset) / 20) / 10) * 10) + 1, ((((tabData.totalPages / 10) * 10) + 10) - ((tabData.pageable.offset) / 20) <= 10) ? tabData.totalPages : (((((tabData.pageable.offset + 10) / 20) / 10) * 10) + 10))}">
                                <li class="page-item" th:if="${num != (1 + tabData.pageable.pageNumber)}">
                                    <a class="page-link" style="cursor: pointer;" th:value="${num}" th:text="${num}" onclick="movePage(this)"></a>
                                </li>
                                <li class="page-item active" th:if="${num == (1 + tabData.pageable.pageNumber)}">
                                    <a class="page-link" style="cursor: pointer;" th:value="${num}" th:text="${num}" onclick="movePage(this)"></a>
                                </li>
                            </th:block>
                        </th:block>
                        <li class="page-item" item="Next">
                            <a class="page-link" aria-label="Next" onclick="moveNext()" th:value="${tabData.totalPages}">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="container text-right fix">
                <div class="business_btn">
                    <a th:href="@{/image/new/{menuId}/{tabId} (menuId=${menuId}, tabId=${tabId})}" class="btn button">작성</a>
                </div>
            </div>
        </section>
        <th:block th:replace="/layout/Footer.html"/>
    </body>
</html>
